.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    display: flex;
    align-items: center;
    min-width: max-content;
    height: 54px;
    background-color: rgba(255, 255, 255);
    color: black;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.header-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 70px;
    width: stretch;
    max-width: 1000px;
    min-width: 720px;
}

.header-container>.avatar {
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.header-container>h1 {
    display: flex;
    font-size: 18px;
    font-weight: 600;
}

.header-container>h1::before {
    content: " ";
    height: 24px;
    margin: 0px 20px;
    border-left: 2px solid #000;
}

.header-container>.avg-points {
    display: flex;
    flex-grow: 1;
    margin-left: 20px;
    align-items: left;
    font-size: 16px;
    font-weight: normal;
}

.header-container>button {
    margin-left: 16px;
}