.title-bar {
    display: flex;
    align-items: center;
    padding: 32px 0px 16px 0px;
}

.title-bar>h2 {
    flex-grow: 1;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.title-bar>button {
    margin-left: 16px;
}

.semester>.class-list-head {
    color: #717171;
}

.semester>.class-list-head,
.semester>.class-list-item {
    display: flex;
    align-items: center;
    height: 40px;
    list-style-type: none;
    font-size: 14px;
}

.semester>.class-list-head>*,
.semester>.class-list-item>* {
    padding: 0px 12px;
}

.semester>.class-list-head>.name-field,
.semester>.class-list-item>.class-name {
    flex-grow: 1;
}

.semester>.class-list-head>.credits-field,
.semester>.class-list-item>.class-credits,
.semester>.class-list-head>.points-field,
.semester>.class-list-item>.class-points {
    display: flex;
    justify-content: center;
    width: 48px;
}

.semester>.class-list-head>.checked-field,
.semester>.class-list-item>.class-checked {
    display: flex;
    justify-content: center;
    width: 48px
}

.semester>.class-list-head>.grades-field,
.semester>.class-list-item>.class-grades {
    display: flex;
    justify-content: center;
    width: 80px;
}