* {
    margin: 0px;
    padding: 0px;
}

.my-points {
    display: flex;
    min-width: 720px;
    max-width: 960px;
    flex-direction: column;
    margin: 0px auto;
    align-items: stretch;
    padding: 48px 70px 24px 70px
}