* {
    margin: 0px;
    padding: 0px;
}

button {
    /* copy from microsoft edge */
    cursor: pointer;
    display: flex;
    overflow: hidden;
    max-width: 374px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    line-height: 1;
    font-family: inherit;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    min-width: 32px;
    padding: 0 8px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #262626;
    fill: #262626;
    background: #E5E5E5;
}

button:hover {
    /* copy from microsoft edge */
    background: #DDDDDD;
}

.my-points {
    display: flex;
    min-width: 720px;
    max-width: 960px;
    flex-direction: column;
    margin: 0px auto;
    align-items: stretch;
    padding: 48px 70px 24px 70px
}